:root { 
  --text: #0c1d12;
  --background: #def2e5;
  --primary: #6d2c55;
  --secondary: #ecdad0;
  --accent: #ab4486;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  background-image: linear-gradient(var(--accent), var(--primary));
  width: 100%;
}

header > * {
  margin: 0 0 0.5rem 0.5rem;
  text-align: center;
}

main {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main > h4 {
  margin: 1rem 0;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  width: 100%;
  height: fit-content;
  max-height: 77vh;
}

.todo {
  display: flex;
  align-items: center;
  width: 90%;
  height: 3.5rem;
  min-height: 3.5rem;
  background-color: var(--accent);
  color: var(--text);
  margin: .5rem 0;
  border-radius: 16px;
}

.todo:hover {
  opacity: 0.8;
}

.checkbox { 
  cursor: pointer;
  width: 10%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 16px 0 0 16px;
}

.checkbox:hover {
  background-color: green;
}

.text { 
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.delete-todo { 
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 0 16px 16px 0;
}

.delete-todo:hover {
  background-color: red;
}

.todo.is-complete > .text {
  text-decoration: line-through;
}

.open-modal { 
  position: absolute;
  bottom: 3%;
  right: 3%;
  border: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--accent), var(--primary));
  cursor: pointer;
}

.open-modal:hover {
  transform: scale(1.1);
}

.add-modal {
  position: absolute;
  top: 20%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
  width: 95%;
  height: 12rem;
  border-radius: 16px;
  border: 8px solid var(--primary);
}

.add-modal > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: .3rem 0 .5rem 0;
  width: 90%;
  height: 100%;
}

.add-modal > form > input {
  width: 100%;
  height: 2.5rem;
  font-size: 20px;
  outline: none;
  margin: 0.5rem 0 0 0;
  padding-left: 8px;
  margin: 0 0 .5rem 0;
  border-radius: 16px;
  border: 0;
}

.add-modal > form > label {
  font-size: 24px;
}

.add-modal > form > button {
  height: 2.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-image: linear-gradient(var(--accent), var(--primary));
  border-radius: 16px;
  border: 0;
}

.close-modal-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal-btn > span {
  color: var(--background);
  font-size: 12px;
}

.error { 
  position: absolute;
  bottom: 0%;
  right: 25%;
  color: red;
  font-weight: 600;
}